th {
    background-color: rgb(45, 112, 3) !important;
}

@media only screen and (max-width: 800px) {
    table {
        width: 100% !important;
    }

    th {
        display: block !important;
        border-radius: 0 0 0 0 !important;
    }

    td{
        display: block !important;
        width: 100% !important;
    }
}