.UserTable th {
    background-color: rgb(45, 112, 3) !important;
}

.UserTable tr:nth-child(2n){
    background-color: #303030 !important;
}

.table-container{
    max-width: 100%;
    overflow-x: auto;
}





@media only screen and (max-width: 800px) {
    .SortingTable{
        display: table;
    }
    .UserTable table {
        width: 100% !important;
        overflow-y: auto !important;
    }

    .UserTable td {
        display: block !important;
    }

    .ant-table-measure-row{
        display: none !important;
    }
    .UserTable th {
        display: none !important;
    }

    .UserTable tr {
        display: block !important;
        border: 1px solid black !important;
    }
    .table-container {
       max-height: 70vh; 
        overflow-y: auto; 
        overflow-x: auto; 
    }

    .UserTable .ant-table-thead {
        display: none !important;
    }
}

.filters{
    display: inline;
}